*DS_St*
Manifest.toml
docs/Manifest.toml
test/Manifest.toml

package-lock.json
package.json
node_modules/

test/_plots/__*

test/_output
basic.log
docs/__*
test/_demo/__*
test/abc/__*
test/abc_min/__*
test/abc_min_skel/__*
test/abc_utils/__*
toy_example/
