/*

NOTE

with defaults:
- 48em is 768px
- 75em is 1200px
- 90em is 1440px

👀 0 - 768 (48): folded menu

👀 768 - 1200: fixed menu on left

👀 1200 transition point:
	🔺 space between menu and content jump

👀 1200 - 1440
	🔺 space between menu and content increases, it shouldnt
	🔺 right space should increase until transition where right toc can appear

👀 1440 transition point:
	🔺 right toc appears but is too far to the right and there's too much space on the left
	🔺 layout should have a sensible fixed width

----
🔺 back to top button is digusting


 */

:root {
  /*
		FONT
	*/

	--small:       90%;
  --large:       120%;
	--xlarge:			 140%;
	--h2-size: 		 2em;
	--h3-size: 		 1.5em;
	--h4-size: 		 1.2em;
  --text-color:  hsl(0, 0%, 20%);
  --line-height: 1.5;
	/* NOTE see 'native font stack' also for mono later */
	--font-ss: 		 system-ui,-apple-system,"Segoe UI",Roboto,
							   "Helvetica Neue",Arial,"Noto Sans",
								 "Liberation Sans",sans-serif,"Apple Color Emoji",
								 "Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

	/*
		LAYOUT | LEFT
	*/

	--menu-width-0: 		 	  16em;
	--menu-width: 					var(--menu-width-0);
	--pure-menu-width:      12em;
	--menu-left: 						9em;
	--menu-margin-left: 		-9em;

	/*
		LAYOUT | TOC / RIGHT
	*/

	--right-side-width: 		   0;
	--right-side-float: 		   none;
	--right-side-position: 	   relative;
	--right-side-top:			 	   0;
	--right-side-margin-top:   0;
	--right-side-padding-left: 0;

	--toc-width: 					  13em;
	--toc-line-height: 			1.75em;
	--toc-margin-left: 			0;

	/*
		LAYOUT | CENTER
	*/

	--body-height: 						100%;
	--layout-padding-left:  	var(--menu-width);
	--content-padding-side-0: 1.5em;
	--content-padding-left:   var(--content-padding-side-0);
	--content-padding-right:  var(--content-padding-side-0);

	--header-padding-bottom: 1em;
	--header-margin-bottom:  1em;

	/*
		COLOR PALETTE
	*/

	--xlight: #e7eaf6;
	--light:  #a2a8d3;
	--dark:   #38598b;
	--xdark:  #113f67;
	--lgray:  #eee;
	--gray:   gray;

	/* Code Inline */
	--font-mono:  	 		 		 SFMono-Regular,Menlo,Monaco,Consolas,
								 			 		 "Liberation Mono","Courier New",monospace;
	--inline-code-font-size: .875em;
	--inline-code-color: 		 #d63384;
}


/*
	NARROW
	[0, 768px]
	- menu folded
*/
@media screen and (max-width: 48em) {
	:root {
		--layout-padding-left: 0;
		--menu-width: 0;
	}
}

/*
	MEDIUM and LARGE
	[768px, ∞[
	- menu fixed, stuck to left
*/
@media screen and (min-width: 48em) {
	:root {
		/* pad to account for menu width */
		--content-padding-left: calc(
				var(--menu-width) + var(--content-padding-side-0));
	}
}

/*
	LARGE
	[1200px, 1440px]
	- menu fixed, layout max width
*/
@media screen and (min-width: 75em) {
	:root {
		--layout-margin-left: auto;
		--layout-margin-right: auto;

		/* --menu-left: 20vw;
		--content-padding-left: calc(var(--menu-left) + 9em); */
	}
}

/*
	XLARGE
	[1440, ∞[
	- menu fixed
	- layout max width including right side
*/
@media screen and (min-width: 90em) {
	:root {
		--right-side-float: 			 right;
  	--right-side-width: 			 calc(100% - var(--main-max-width-0));
		--right-side-position:	   sticky;
		--right-side-top: 			   10em;
		--right-side-margin-top:   .75em;
		--right-side-padding-left: 2em;
		--toc-margin-left: 			   3em;
		--header-padding-bottom:   3em;
		--header-margin-bottom:    4em;
		--menu-left:					 		 auto;
	}
}

/*
	CORE
*/

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
	height: var(--body-height);
  font-family: var(--font-ss);
  color: var(--text-color);
  line-height: var(--line-height);
}

code {
	font-family: var(--font-mono);
	color: var(--inline-code-color);
	font-size: var(--inline-code-font-size);
	word-wrap: break-word;
}

:is(h1, h2, h3) a {
	text-decoration: none;
	color: var(--dark);
	font-weight: 500;
}
:is(h1, h2, h3) {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {font-size: var(--h2-size); padding-top: 1.2em;}
h3 {font-size: var(--h3-size); padding-top: .5em;}


#layout {
	padding-left: 0;
	margin-left: var(--layout-margin-left);
	margin-right: var(--layout-margin-right);
}

#main {
  line-height: inherit;
}

.content {
	padding-left:  var(--content-padding-left);
	padding-right: var(--content-padding-right);
	margin: 0;
	/* margin-left: 5em; */
	/* margin-left:  var(--content-margin-left);
	margin-right: var(--content-margin-right); */
}

.header {
	padding-bottom: var(--header-padding-bottom);
	margin-bottom:  var(--header-margin-bottom);
}
