:root {
  --block-background: hsl(0, 0%, 94%);
  --output-background: hsl(0, 0%, 98%);
}

/*
≂̸ CommonMark
 */
.cm-diff {
  background-color: var(--yellow80);
  border: 0px;
  font-size: var(--text-sm);
}
.cm-diff-legend{
  color: white;
  background-color: var(--red30);
  padding-left:  .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;

  font-variant: small-caps;
  font-size: var(--text-sm);
}

/*
TIP
*/
.tip {
  background-color: var(--green80);
  border: 0px;
  font-size: var(--text-sm);
}
.tip-legend {
  color: white;
  background-color: var(--green20);
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;
  font-variant: small-caps;
  font-size: var(--text-sm);
}

/*
SHOW MD
*/

.md-input {
  border-width: 0;
  margin-bottom: 1em;
  background-color: var(--block-background);
  font-size: var(--text-sm);
  line-height: 1.2em;
}
.md-input-legend {
  background-color: var(--col-cream);
  font-size: var(--text-sm);
  font-variant: small-caps;
  padding-left:  .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;
}
.md-input .hljs {
  background-color: transparent;
}
.md-input pre {
  margin: 0;
}
.md-input code {
  padding: 0;
  padding-top: 5px;
}

.md-result {
  border: none;
  background-color: #e3edf2;
  border-left: 2px solid #5bc0de;
  margin-left: 1.5em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.5em;
  font-size: var(--text-sm);
  margin-bottom: 1.75em;
}
.md-result img {
  width: 40%;
  padding-left: 1em;
}

.md-result-legend {
  background-color: var(--col-cream);
  border-radius: 5px;
  padding-left:  .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  font-variant: small-caps;
  font-size: var(--text-sm);
  color: navy;
}

.md-result pre {
  margin: 0;
}

.md-result h1 {padding: 0;}
.md-result h2 {padding: 0;}
.md-result h3 {padding: 0;}
.md-result h1 a {color: black;}
.md-result h2 a {color: black;}
.md-result h3 a {color: black;}

.md-result blockquote {
  background-color: var(--col-xlight);
  padding: 0.5em 1em;
  border-left: 5px solid var(--col-xdark);
}

.md-result ul ul {padding-left: 1.5em;}
.md-result ol ul {padding-left: 1.5em;}
