/*
LIST, NUMBERD LIST, NESTING
 */

 ol {
   counter-reset: item;
 }
 ol > li {
   display: block;
 }

 ol>li:before{
   content: counters(item, ".") ". ";
   counter-increment: item;
 }

/*
≂̸ CommonMark
 */
.cm-diff {
  background-color: #FCD8D8;
  border: 0px;
  border-radius: 5px;
  font-size: 85%;
}
.cm-diff-legend{
  color: white;
  background-color: #BC1919;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  font-variant: small-caps;
  font-size: var(--small);
}

/*
SHOW MD
*/

.md-input {
  border-width: 0;
  margin-bottom: 1em;
  background-color: var(--block-background);
  border-radius: 10px;
}
.md-input-legend {
  background-color: white;
  font-size: var(--small);
  font-variant: small-caps;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
}

.md-input pre {
  margin: 0;
}
.md-input code {
  padding: 0;
  padding-top: 5px;
}

.md-result {
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  margin-left: 1.5em;
  border-left: 3px solid navy;
  border-radius: 5px;
  font-size: var(--small);
}
.md-result img {
  width: 40%;
  padding-left: 1em;
}

.md-result-legend {
  padding-left: 1em;
  padding-right: 1em;
  font-variant: small-caps;
  color: navy;
}

.md-result pre {
  margin: 0;
}
