:root {
  --block-background: hsl(0, 0%, 94%);
  --output-background: hsl(0, 0%, 98%);
}

.code-output {
  background-color: var(--output-background);
  padding: .5em;
}

.code-output table {
  border-collapse: collapse;
}
.code-output td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

/*
≂̸ CommonMark
 */
.cm-diff {
  margin-top: 2em;
  background-color: var(--yellow80);
  border: 0px;
  font-size: var(--text-sm);
}
.cm-diff-legend{
  color: white;
  background-color: var(--red30);
  padding-left:  .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;

  font-variant: small-caps;
  font-size: var(--text-sm);
}

/*
TIP
*/
.tip {
  margin-top: 2em;
  background-color: var(--green90);
  border: 0px;
  font-size: var(--text-sm);
}
.tip-legend {
  color: white;
  background-color: var(--green20);
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;
  font-variant: small-caps;
  font-size: var(--text-sm);
}

/*
TO DO
*/
.todo {
  margin-top: 2em;
  background-color: var(--red90);
  border: 0px;
  font-size: var(--text-sm);
}
.todo-legend {
  color: white;
  background-color: var(--red10);
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;
  font-variant: small-caps;
  font-size: var(--text-sm);
}

/*
NOTE
*/
.note {
  margin-top: 2em;
  background-color: var(--yellow90);
  border: 0px;
  font-size: var(--text-sm);
}
.note-legend {
  color: white;
  background-color: var(--yellow0);
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;
  font-variant: small-caps;
  font-size: var(--text-sm);
}

/*
SHOW MD
*/

.md-input {
  border-width: 0;
  margin-bottom: 1em;
  background-color: var(--block-background);
  font-size: var(--text-sm);
  line-height: 1.2em;
}
.md-input-legend {
  background-color: var(--col-cream);
  font-size: var(--text-sm);
  font-variant: small-caps;
  padding-left:  .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px;
}
.md-input .hljs {
  background-color: transparent;
}
.md-input pre {
  margin: 0;
}
.md-input code {
  padding: 0;
  padding-top: 5px;
}

.md-result {
  border: none;
  background-color: #e3edf2;
  border-left: 2px solid #5bc0de;
  margin-left: 1.5em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.5em;
  font-size: var(--text-sm);
  margin-bottom: 2em;
}
.md-result img {
  width: 40%;
  padding-left: 1em;
}

.md-result-legend {
  background-color: var(--col-cream);
  border-radius: 5px;
  padding-left:  .5em;
  padding-right: .5em;
  padding-bottom: .1em;
  font-variant: small-caps;
  font-size: var(--text-sm);
  color: navy;
}

.md-result pre {
  margin: 0;
}

.md-result pre {
  max-width: 100%;
}
.md-result .code-output pre {
  max-width: 100%;
}


.md-result h1 {padding: 0;}
.md-result h2 {padding: 0;}
.md-result h3 {padding: 0;}
.md-result h1 a {color: black;}
.md-result h2 a {color: black;}
.md-result h3 a {color: black;}

.md-result blockquote {
  background-color: var(--col-xlight);
  padding: 0.5em 1em;
  border-left: 5px solid var(--col-xdark);
}

.md-result ul ul {padding-left: 1.5em;}
.md-result ol ul {padding-left: 1.5em;}


.center {text-align: center;}
.center img {
  width: 75%;
  min-width: 300px;}


.code-output {
  margin-top: 1em;
  margin-left: 1em;
  border: 3px solid var(--blue90);
}

.code-output .code-figure {
  padding-top: 1em;
  padding-bottom: .75em;
}

.trim {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.trim .md-result {
  margin-bottom: 1.5em;
}

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1.1em !important; }

.katex-display .katex {
    display: inline-block;
}

.katex-display::after {
    counter-increment: eqnum;
    content: "(" counter(eqnum) ")";
    position: relative;
    float: right;
    padding-right: 5px; }

.nonumber .katex-display::after {
  counter-increment: nothing;
  content: "";
}

/* ---
Menu extra design
--- */
.pure-menu-link {
  padding-left: 2em;
}
.pure-menu-link:hover {
  background-color: var(--col-xlight);
}

.submenu-title {
  font-size: var(--text-lg);
  color: var(--col-dark);
  padding: .5em 1em;
  font-weight: 500;
}

#menu-logos {
  width: 85%;
  /* margin-left: auto; */
  margin-right: auto;
  text-align: center;
  padding-top: 1.5em;
  border-top: 1px solid var(--col-xlight);
  margin-top: 1.5em;
}

#menu-logos a img {
  width: 25px;
}

.hljs-string {
  color: var(--green30);
}
